# Theme______________________________________

# Node.js Tools
node_modules/
package-lock.json
composer.lock
# NBeans Project. local IDE files
nbproject/

# JetBrains Rider
.idea/
.vscode/
.sublime-workspace/

# Composer phar
/wp-app/wp-content/themes/*/composer.phar

*.cache
*.ide-wal
*.ide-shm


#Build
#/wordpress/
#webpack.config.js
#postcss.config.js
#/webpack/
#/logs/
#/assets/styles/
#/assets/vue/
#*.env
#*.env.sample
#*.editorconfig
#*.eslintrc.js
#*.stylelintrc.js
#babel.config.js
#postcss.config.js


markup/dev/_partials/*
markup/dev/js/main.min.js
markup/dev/jsdist/app.js
markup/dev/css/main.css
markup/dev/css/main.css.map
markup/dev/*.html

foks_import.xml
foks_export.xml
