.xmlIcon {
  max-width: 32px;
  vertical-align: middle;
}

.mainTitle {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid hwb(290.8 81.6% 13.3%);
  padding-bottom: 10px;
}

.mb30 {
  margin-bottom: 30px;
}
